.jumbotron{
	background: url(./Images/bgHero.png);
	font-family: Edu VIC WA NT Beginner;
	
}

.display-4{
	font-weight: 900;
	color: black;
}

#intro-and-mission{
	background: url(./Images/bgIntroMission.png);
}